.home{
  width: 100%;
  height: 100%;
  font-size: 30px;
  .home-left{
    float: left;
    width: 25%;
    position:relative;
    padding: 100px 20px 40px 50px;

  }

  .home-right{
    position:relative;
    float: right;
    width: 60%;
    margin-top: 50px;
    margin-right: 100px;
  }
}